html, body{
	height: 100%;
}
.wrapper{
    background-color: black;
	height: 100%;
	background-image: url("images/mac_black.jpg");
	background-size: cover;
	background-position: center;
}
img{
    display: block;
    margin: auto;
    max-width: 100%;
    border: 5px white solid;
}
h1{
    color: white;
    font-size: 120px;
	line-height: 300px;
	text-align: center;
}
.slider{
	width: 90%;
	margin: 50px auto;
}
.contact{
	color: white;
	text-align: center;
	font-size: 50px;
	margin: 100px auto 0 auto;
	width: 250px;
	border: 2px gray solid;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	cursor: pointer;
}
label{
	font-weight: bold;
}
input{
	width: 300px;
	height: 25px;
	border-radius: 5px;
}
form{
	width: 300px;
	margin: 0 auto;
}
p{
	color: white;
	font-weight: bold;
	margin-top: 10px;
}
a{
	display: block;
	text-decoration: none;
	font-size: 25px;
	color: white;
	padding: 3px;
	margin-top: 10px;
	border: 2px solid gray;
	width: 100px;
	text-align: center;
	border-radius: 5px;
}
.message{
	height: 100px;
}
